<p>email: admin@barbershop.com</p>
<form action="/contacts" method="POST">
	<p>Ваш email:</p>
	<div class="form-group">
	<p><textarea class="form-control" rows="1" name="email"></textarea></p>
	</div>
	<p>Введите ваш отзыв:</p>
	<div class="form-group">
	<p><textarea class="form-control" rows="10" cols="45" name="text"></textarea></p>
	</div>
	<button type="submit" class="btn btn-primary">Отправить</button>
</form> 